@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    margin-bottom: 13px;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.wrapper{
    width: 500px;
    height: 700px;
}

.wrapper .input-box {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: gray;

}

.input-box input {
    width: 100%;
    height: 100%;
    border-radius: 5pt;   
    color: gray;
    border: 0.5px solid gray;
    font-size: 15px;
    padding-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    width: 300;
    height: 400;

}

#dates .input-container{
    display: inline-block;
    width: 45%;;
}

h1 {
    font-size: 20px;
}

select .wrapper {
    width: 100%;
    height: 100%;
}

select {
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 32.8%;
    height: 45px; ;
    border-radius: 5px;     

}
.wrapper .radio {
    width: 100%;
    height: 50;
}


label {
    font-size: 15px;
    color: grey;
    font-style: initial;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.option select{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


  
input[type="submit"] {
    width: 230px;   
    height: 45px; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: white; 
    background-color: #ff9900; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 10px
}

button[type="submit"]:hover {
    background-color: #ff9900; 
}  

#gender {
    margin-top: 10px;
    margin-bottom: 10px;
}

option {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



select {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif; /* Также задаем шрифт для select */
    font-size: 16px; 
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

#radio-blya {
    opacity: 0;
    position: absolute;
    transition: .5s;
  }


  span {
    display: inline-flex;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid gray;
    border-radius: 5pt;
    cursor: pointer;
    transition: border-color 0.3s;
    position: relative;
    transition: .5s;
    
  }

  .check-icon {
    margin-left: 7px;
    display: none;
    transition: .5s;
    
  }

  #radio-blya:checked + span {
    border-color: orange;
  }

  #radio-blya:checked + span .check-icon {
    display: inline-block;
  }


